<h1>divisibility</h1>

<p>
This study of integers begins with the notion of <em>divsibility</em>: whether
the division of two integers results in an integer.  Since division does not
always yield a result at all, let alone an integer result, we frame this
question in terms of multiplication.
</p>

<div class="definition">
  <p>
    A nonzero integer <%= c "b" %> <strong>divides</strong> an integer
    <%= c "a" %> if there exists some integer <%= c "n" %> such that
    <%= c "a == b * n" %>.
  </p>

  <p>
    The notation for this is <%= c "b | a" %>, which reads "<%= c "b" %>
    divides <%= c "a" %>".  The following statements are equivalent ways of
    describing that <%= c "b | a" %>.
  </p>

  <ul>
    <% divisibility_statements("b", "a", divisible: true).each do |statement| %>
      <li><%= statement %></li>
    <% end %>
  </ul>
</div>

<p>
  Here are a couple of examples:
</p>

<ul>
  <li>
    <%= c "15 | 45" %> since <%= c "45 == 15 * 3" %>.  In other words,
    <ul>
      <% divisibility_statements(15, 45).each do |statement| %>
        <li><%= statement %></li>
      <% end %>
    </ul>
  </li>
  <li>
    <%= c "10 ∤ 45" %> since <%= c "45 != 10 * n" %> for any <%= c "n" %>.
    In fact, <%= c 45 %> is strictly between <%= c "10 * 4" %> and <%= c "10 * 5" %>.
    In other words,
    <ul>
      <% divisibility_statements(15, 45).each do |statement| %>
        <li><%= statement %></li>
      <% end %>
    </ul>
  </li>
</ul>

<div class="dynamic-example">
  <h3>example</h3>

  <div class="question">
    <h4>question</h4>
    <form method="POST">
      Does
      <input
        id="divisor"
        name="divisor"
        value="<%= @example&.divisor %>"
        type="number"
        required="true"
        placeholder="divisor"
      />
      divide
      <input
        id="dividend"
        name="dividend"
        value="<%= @example&.dividend %>"
        type="number"
        required="true"
        placeholder="dividend"
      />
      ??
      <input type="submit" value="submit" />
    </form>
  </div>

  <% if @example %>
    <div class="answer">
      <h4>answer</h4>
      <p><strong><%= @example.answer %></strong>:
        <%= code [
          @example.divisor,
          @example.boolean_answer ? "|" : "\u2224",
          @example.dividend,
        ].join(" ") %>
      </p>

      <ul>
        <% divisibility_statements(@example.divisor, @example.dividend).each do |statement| %>
          <li><%= statement %></li>
        <% end %>
      </ul>

      <p><strong>because</strong>: <%= @example.reason %></p>
    </div>
  <% end %>
</div>

